@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #002778;
  --color-accent: #FFBB04;
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}
